meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
meta(name="description", content)
meta(name="author", content="Mark Otto, Jacob Thornton, and Bootstrap contributors")
meta(name="generator", content="Hugo 0.80.0")
title StayClean Initiative Dashboard
link(rel="canonical", href="https://getbootstrap.com/docs/5.0/examples/dashboard/")
//  Bootstrap core CSS 
link(href="../assets/dist/css/bootstrap.min.css", rel="stylesheet")
style.
  
  .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              user-select: none;
          }
          
          @media (min-width: 768px) {
              .bd-placeholder-img-lg {
                  font-size: 3.5rem;
              }
          }
  
//  Custom styles for this template 
link(href="dashboard.css", rel="stylesheet")
header.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow
  a.navbar-brand.col-md-3.col-lg-2.me-0.px-3(href="#") Stay Clean Initiative
  button.navbar-toggler.position-absolute.d-md-none.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#sidebarMenu", aria-controls="sidebarMenu", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  input.form-control.form-control-dark.w-100(type="text", placeholder="Search", aria-label="Search")
  ul.navbar-nav.px-3
    li.nav-item.text-nowrap
      a.nav-link(href="#") Sign out
.container-fluid
  .row
    nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
      .position-sticky.pt-3
        ul.nav.flex-column
          li.nav-item
            a.nav-link.active(aria-current="page", href="#")
              span(data-feather="home")
              |  Dashboard

          li.nav-item
            a.nav-link(href="#")
              span(data-feather="file")
              |  Orders

          li.nav-item
            a.nav-link(href="#")
              span(data-feather="shopping-cart")
              |  Products

          li.nav-item
            a.nav-link(href="#")
              span(data-feather="users")
              |  Customers

          li.nav-item
            a.nav-link(href="#")
              span(data-feather="bar-chart-2")
              |  Reports

          li.nav-item
            a.nav-link(href="#")
              span(data-feather="layers")
              |  Integrations

        h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
          span Saved reports
          a.link-secondary(href="#", aria-label="Add a new report")
            span(data-feather="plus-circle")
        ul.nav.flex-column.mb-2
          li.nav-item
            a.nav-link(href="#")
              span(data-feather="file-text")
              |  Current month

          li.nav-item
            a.nav-link(href="#")
              span(data-feather="file-text")
              |  Last quarter

          li.nav-item
            a.nav-link(href="#")
              span(data-feather="file-text")
              |  Social engagement

          li.nav-item
            a.nav-link(href="#")
              span(data-feather="file-text")
              |  Year-end sale

    main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 Dashboard
        .btn-toolbar.mb-2.mb-md-0
          .btn-group.me-2
            button.btn.btn-sm.btn-outline-secondary(type="button") Share
            button.btn.btn-sm.btn-outline-secondary(type="button") Export
          button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type="button")
            span(data-feather="calendar")
            | 
This week

      canvas.my-4.w-100#myChart(width="900", height="380")
      h2 Section title
      //  Custom styles for this template 
      link(href="offcanvas.css", rel="stylesheet")
      nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark(aria-label="Main navigation")
        .container-fluid
          a.navbar-brand(href="#") Stay Clean Initiative
          button.navbar-toggler.p-0.border-0(type="button", data-bs-toggle="offcanvas", aria-label="Toggle navigation")
            span.navbar-toggler-icon
          .navbar-collapse.offcanvas-collapse#navbarsExampleDefault
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
              li.nav-item
                a.nav-link.active(aria-current="page", href="Homepage.html") Home
              li.nav-item
                a.nav-link(href="#") Notifications
              li.nav-item
                a.nav-link(href="#") Profile
              li.nav-item
                a.nav-link(href="#") Switch account
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle#dropdown01(href="#", data-bs-toggle="dropdown", aria-expanded="false") Settings
                ul.dropdown-menu(aria-labelledby="dropdown01")
                  li
                    a.dropdown-item(href="#") Action
                  li
                    a.dropdown-item(href="#") Another action
                  li
                    a.dropdown-item(href="#") Something else here
            form.d-flex
              input.form-control.me-2(type="search", placeholder="Search", aria-label="Search")
              button.btn.btn-outline-success(type="submit") Search
      main.container
        .d-flex.align-items-center.p-3.my-3.text-white.bg-purple.rounded.shadow-sm
          img.me-3(src="../assets/brand/bootstrap-logo-white.svg", alt, width="48", height="38")
          .lh-1
            h1.h6.mb-0.text-white.lh-1 Bootstrap
            small Since 2011
        .my-3.p-3.bg-body.rounded.shadow-sm
          h6.border-bottom.pb-2.mb-0 Recent updates
          .d-flex.text-muted.pt-3
            svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(width="32", height="32", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 32x32", preserveAspectRatio="xMidYMid slice", focusable="false")
              title Placeholder
              rect(width="100%", height="100%", fill="#007bff")
              text(x="50%", y="50%", fill="#007bff", dy=".3em") 32x32
            p.pb-3.mb-0.small.lh-sm.border-bottom
              strong.d-block.text-gray-dark @username
              |  Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?

          .d-flex.text-muted.pt-3
            svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(width="32", height="32", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 32x32", preserveAspectRatio="xMidYMid slice", focusable="false")
              title Placeholder
              rect(width="100%", height="100%", fill="#e83e8c")
              text(x="50%", y="50%", fill="#e83e8c", dy=".3em") 32x32
            p.pb-3.mb-0.small.lh-sm.border-bottom
              strong.d-block.text-gray-dark @username
              |  Some more representative placeholder content, related to this other user. Another status update, perhaps.

          .d-flex.text-muted.pt-3
            svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(width="32", height="32", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 32x32", preserveAspectRatio="xMidYMid slice", focusable="false")
              title Placeholder
              rect(width="100%", height="100%", fill="#6f42c1")
              text(x="50%", y="50%", fill="#6f42c1", dy=".3em") 32x32
            p.pb-3.mb-0.small.lh-sm.border-bottom
              strong.d-block.text-gray-dark @username
              |  This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.

          small.d-block.text-end.mt-3
            a(href="#") All updates
        .my-3.p-3.bg-body.rounded.shadow-sm
          h6.border-bottom.pb-2.mb-0 Suggestions
          .d-flex.text-muted.pt-3
            svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(width="32", height="32", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 32x32", preserveAspectRatio="xMidYMid slice", focusable="false")
              title Placeholder
              rect(width="100%", height="100%", fill="#007bff")
              text(x="50%", y="50%", fill="#007bff", dy=".3em") 32x32
            .pb-3.mb-0.small.lh-sm.border-bottom.w-100
              .d-flex.justify-content-between
                strong.text-gray-dark Full Name
                a(href="#") Follow
              span.d-block @username
          .d-flex.text-muted.pt-3
            svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(width="32", height="32", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 32x32", preserveAspectRatio="xMidYMid slice", focusable="false")
              title Placeholder
              rect(width="100%", height="100%", fill="#007bff")
              text(x="50%", y="50%", fill="#007bff", dy=".3em") 32x32
            .pb-3.mb-0.small.lh-sm.border-bottom.w-100
              .d-flex.justify-content-between
                strong.text-gray-dark Full Name
                a(href="#") Follow
              span.d-block @username
          .d-flex.text-muted.pt-3
            svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(width="32", height="32", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 32x32", preserveAspectRatio="xMidYMid slice", focusable="false")
              title Placeholder
              rect(width="100%", height="100%", fill="#007bff")
              text(x="50%", y="50%", fill="#007bff", dy=".3em") 32x32
            .pb-3.mb-0.small.lh-sm.border-bottom.w-100
              .d-flex.justify-content-between
                strong.text-gray-dark Full Name
                a(href="#") Follow
              span.d-block @username
script(src="../assets/dist/js/bootstrap.bundle.min.js")
script(src="offcanvas.js")
script(src="../assets/dist/js/bootstrap.bundle.min.js")
script(src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js", integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE", crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js", integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha", crossorigin="anonymous")
script(src="dashboard.js")