<!DOCTYPE html>
html(lang="en")
    head
        //-  Required meta tags
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
            //- Bootstrap CSS 
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/bootstrap.css", rel="stylesheet")
        title Stay Clean Initiative
    body

        nav.navbar.navbar-expand-lg.navbar-grey.bg-blue
            .container
             a.navbar-brand(href="Homepage.html") Stay Clean Initiative
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
            .collapse.navbar-collapse.justify-content-end#navbarSupportedContent
            ul.navbar-nav.me-auto.mb-2.mb-lg-0.
        
        
        form.container
            .container-fluid
            h1 Employee Registration Form
            .row
                .col
                input.form-control(type="text", placeholder="First name", aria-label="First name")
                .col
                input.form-control(type="text", placeholder="Last name", aria-label="Last name")
                .mb-3
                    label.form-label(for="form-select") Gender
                    select#form-select.form-select
                        option Male
                        option Female
                .radio
                    label.form-label(for="radio") Employee type
                .radio
                    label
                        input(type="radio", name="optradio")
                |  Truck Conductor
                .radio
                    label
                        input(type="radio", name="optradio")
                |  Truck Driver       
            .form-group
                //-   Date input 
                label.control-label(for="date") Date Of Birth
                    input.form-control#date(name="date", placeholder="MM/DD/YYY", type="text")
                .mb-3
                label.form-label(for="exampleFormControlInput1") NIN
                    input.form-control#exampleFormControlInput1(type="Idnumber", placeholder="CXXXXXXXX")
                .md-3
                label.form-label(for="validationCustom04") Area of Residence
                    select.form-select#validationCustom04(required)
                        option(selected, disabled, value) Choose...
                        option Ntinda
                        option Muyenga
                        option Nakawa
                        option Kansanga
                        option Muyenga
                        option Bukoto
                        option Kololo
      | 
                            Please select a valid City.

                .mb-3
                label.form-label(for="formFileMultiple") Driving License
                    input.form-control#formFileMultiple(type="file", placeholder="Click to Upload Driving License")
                .mb-3
                label.form-label(for="formFileMultiple") Past Incidences
                    input.form-control#formFileMultiple(type="file", placeholder="Click to Upload Police letter")
                .col-12
            .form-check
                input.form-check-input#invalidCheck(type="checkbox", required)
                label.form-check-label(for="invalidCheck").
        
                    Agree to terms and conditions
        
                .invalid-feedback.
        
                    You must agree before submitting.
        
                .col-12
                button.btn.btn-primary(type="submit") Submit form
    script(src="./js/bootstrap.bundle.js").
  
  