<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title Stay Clean Initiative
    body

        link(rel="canonical", href="https://getbootstrap.com/docs/5.0/examples/cover/")
 
        link(href="../assets/dist/css/bootstrap.min.css", rel="stylesheet")
        style.
  
            .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              user-select: none;
            }
          
          @media (min-width: 768px) {
              .bd-placeholder-img-lg {
                  font-size: 3.5rem;
              }
          }
  

        link(href="cover.css", rel="stylesheet")
            .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
            header.mb-auto
            div
            h2.float-md-start.mb-0 Stay Clean Initiative
            nav.nav.nav-masthead.justify-content-center.float-md-end
            a.nav-link.active(aria-current="page", href="login.html") Login
        main.px-3
            h1 Hello, welcome to our home.
            p.lead We are a local NGO based in Muyenga, Kampala that is helping in the management of communal sewage, garbage and general sanitation endeavors, journey with us.
            p.lead We sought a computerized solution to help in the efficient handling and management of our work, here you are.
            a.btn.btn-lg.btn-secondary.fw-bold.border-white.bg-white(href="#") Learn more
            
        footer.mt-auto.text-white-50
            p
            | All rights reserved by Stay Clean Initiative

        a.text-white