<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Stay Clean Initiative
    head
    
    body
//- Required meta tags 
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
  //- Bootstrap CSS 
link(href="css/bootstrap.min.css", rel="stylesheet")
link(href="css/bootstrap.css", rel="stylesheet")
title Stay Clean Initiative
header.mb-auto
  div
    h2.float-md-start.mb-0 Stay Clean Initiative
    nav.nav.nav-masthead.justify-content-center.float-md-end
      a.nav-link.active(aria-current="page", href="login.html") Login
      a.nav-link.active(href="#") Home
    nav.navbar.navbar-expand-lg.navbar-grey.bg-blue
      .container-fluid
      a.navbar-brand(href="Homepage.html") Stay Clean Initiative
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse.justify-content-end#navbarSupportedContent
      ul.navbar-nav.me-auto.mb-2.mb-lg-0.
        
        
.container
  .row
    .col
      .container
        h1 Account Login Page
      form.form-horizontal(role="form")
        .form-group
          label.control-label.col-md-2(for="username") Username:
          .col-md-10
            input.form-control#username(type="username", placeholder="Enter Username")
        .form-group
          label.control-label.col-md-2(for="pwd") Password:
          .col-md-10
            input.form-control#pwd(type="password", placeholder="Enter password")
        .form-group
          .col-md-offset-2.col-md-10
            .checkbox
              label
                input(type="checkbox")
                |  Remember me?
        .form-group
          .col-md-offset-2.col-md-10
            button.btn.btn-success(type="submit") Login
script(src="./js/bootstrap.bundle.js").
  
  