<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">

    <title>Stay Clean Initiative</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-grey bg-blue">
        <div class="container">
            <a class="navbar-brand" href="Homepage.html">Stay Clean Initiative</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                </ul>
            </div>
        </div>
    </nav>

    <body>

        <form class="container">
            <div class="container-fluid">
                <h1>Service Request Form</h1>
            </div>
            <div class="row">
                <label for="exampleFormControlInput1" class="form-label">Customer Names</label>
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>
            <div class="md-3">
                <label for="validationCustom04" class="form-label">Location</label>
                <select class="form-select" id="validationCustom04" required>
  <option selected disabled value="">Choose a location</option>
  <option>Ntinda</option>
  <option>Muyenga</option>
  <option>Nakawa</option>
  <option>Kansanga</option>
  <option>Muyenga</option>
  <option>Bukoto</option>
  <option>Kololo</option>
                <div class="invalid-feedback">
                    Please select a valid City.
                </div>
                </select>
            </div>

            <div class="md-3">
                <label for="ServiceRequested" class="form-label">Service Requested</label>
                <select class="form-select" id="ServiceRequested" required>
  <option selected disabled value="">Choose service(s)</option>
  <option>Garbage Collection</option>
  <option>Sewage Collection</option>
  <option>Both</option>
                  <div class="invalid-feedback">
                    Please select a valid service.
                </div>
                </select>
            </div>

            <div class="md-3">
                <label for="exampleFormControlInput1" class="form-label">National Id Number</label>
                <input type="IdNumber" class="form-control" id="exampleFormControlInput1" placeholder="CXXXXXXXXXXXX">
            </div>

            <div class="form-group" class="md-3">
                <label for="sel1">Number of trucks needed</label>
                <select class="form-control" id="sel1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                </select>
            </div>

            <form method="post">
                <div class="form-group">
                    <!-- Date input -->
                    <label class="control-label" for="time">Time requested</label>
                    <input class="form-control" id="time" name="time" placeholder="HH/MM" type="time" />
                </div>


                <div class="mb-3">
                    <label for="PhoneNumber" class="form-label">Phone Number</label>
                    <input type="PhoneNumber" class="form-control" id="PhoneNumber" placeholder="+256700000000">
                </div>

                <div class="radio" class="md-3">
                    <label for="radio" class="form-label">Type of Request</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio"> Subscription </label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio" > One-time </label>
                </div>

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
        I have read and Agree to terms and conditions
      </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit"> SubmitForm </button>
                </div>
            </form>
            <script src="./js/bootstrap.bundle.js">
            </script>

        </form>
    </body>

</html>